<h1>Reactive form tricks</h1>

<p>Blur validator</p>
<input type="text" [formControl]="blurControl" />
<p class="error" *ngIf="!blurControl.valid && blurControl.touched">
  Error, min length 4!
</p>

<p>Lazy validator</p>
<input type="text" [formControl]="lazyControl" />
<p class="error" *ngIf="!lazyControl.valid">
  Error, min length 3!
</p>

<p>Linked to store</p>
<input type="text" [formControl]="storeControl" />

<form [formGroup]="group" (ngSubmit)="submit()">
  <p>Disabled</p>
  <input type="text" formControlName="disabled" />
  <button (click)="toggle($event)">Toggle</button>
</form>
